<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" testdox="false" bootstrap="tests/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="uadmin">
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Integration/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Integration/Model/FindTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Integration/Model/GetAllTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Integration/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Integration/Model/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Model/FindAllTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Model/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Model/FindByNameTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Model/GetIdTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Model/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Model/FindAllTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Model/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Model/FindByDescriptionTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Model/FindByIdTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Model/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Model/FindByDescriptionTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Model/FindByIdTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Model/GetAllTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Model/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/GetAllTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/FindByIdTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/FindTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/StatusTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Model/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Model/FindTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Model/GetAllTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Model/StatusTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Model/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/DeletePictureTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Model/DeleteTest.php</directory>
    </testsuite>
    <testsuite name="ulog">
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Access/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Access/Model/ListTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Access/Model/SearchTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Access/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Access/Model/ClearTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Sql/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Sql/Model/ListTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Sql/Model/SearchTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Sql/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Sql/Model/ClearTest.php</directory>
    </testsuite>
    <testsuite name="ufinance">
      <!-- Banks -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Banks/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Banks/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Banks/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Banks/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Banks/ListTest.php</directory>
      <!-- ChartOfAccounts -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ChartOfAccounts/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ChartOfAccounts/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ChartOfAccounts/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ChartOfAccounts/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ChartOfAccounts/ListTest.php</directory>
      <!-- BankAccountType -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccountType/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccountType/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccountType/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccountType/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccountType/ListTest.php</directory>
      <!-- AccountStatus -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/AccountStatus/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/AccountStatus/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/AccountStatus/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/AccountStatus/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/AccountStatus/ListTest.php</directory>
      <!-- ReceiptOrPaymentMethod -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ReceiptOrPaymentMethod/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ReceiptOrPaymentMethod/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ReceiptOrPaymentMethod/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ReceiptOrPaymentMethod/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ReceiptOrPaymentMethod/ListTest.php</directory>
      <!-- CostCenter -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/CostCenter/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/CostCenter/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/CostCenter/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/CostCenter/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/CostCenter/ListTest.php</directory>
      <!-- BankAccount -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccount/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccount/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccount/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccount/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccount/ListTest.php</directory>
      <!-- Account -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Account/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Account/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Account/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Account/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Account/ListTest.php</directory>
      <!-- Clear -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Account/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccount/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/Banks/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/CostCenter/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ChartOfAccounts/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/BankAccountType/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/AccountStatus/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Finance/Model/ReceiptOrPaymentMethod/DeleteTest.php</directory>
    </testsuite>
    <testsuite name="ublog">
      <!-- Category -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Category/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Category/Model/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Category/Model/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Category/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Category/Model/ListTest.php</directory>
      <!-- Status -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Status/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Status/Model/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Status/Model/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Status/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Status/Model/ListTest.php</directory>
      <!-- Post -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Post/Model/CreateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Post/Model/EditTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Post/Model/UpdateTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Post/Model/UpdateStatusTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Post/Model/CountTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Post/Model/ListTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Post/Model/ListFrontPostTest.php</directory>
      <!-- Destroy -->
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Post/Model/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Category/Model/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Blog/Status/Model/DeleteTest.php</directory>
    </testsuite>
    <!--<testsuite name="iservice">
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ContractTypeTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ContractTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ContractItemsTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/InvoiceItemsTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/InvoiceTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/IssueCategoryTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/IssueNoteFileTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/IssueNoteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/IssuePriorityTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/IssueStatusTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/IssueTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ProjectFilesTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ProjectMemberTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ProjectServiceTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ProjectStatusTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ProjectTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ServiceTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/Integration/Service/ServiceTypeTest.php</directory>
    </testsuite> -->
    <testsuite name="aadmin">
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Controller/CreateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Controller/EditControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Controller/UpdateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Controller/TreeControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Controller/GetAllControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Controller/CreateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Controller/EditControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Controller/GetAllControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Controller/ListControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Controller/UpdateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Controller/CreateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Controller/EditControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Controller/GetAllControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Controller/ListControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Controller/UpdateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Controller/CreateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Controller/EditControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Controller/DeletePictureControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Controller/ListControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Controller/StatusControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Controller/SearchControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Controller/UpdateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Controller/CreateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Controller/EditControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Controller/ListControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Controller/PersonControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Controller/StatusControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Controller/UpdateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/User/Controller/DeleteControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Person/Model/DeleteTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Menu/Controller/DeleteControllerTest.php</directory>      
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/PersonType/Controller/DeleteControllerTest.php</directory>      
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Role/Controller/DeleteControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Integration/Controller/CreateOrUpdateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Admin/Integration/Controller/EditControllerTest.php</directory>
    </testsuite>
    <testsuite name="alog">
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Access/Controller/ListControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Log/Sql/Controller/ListControllerTest.php</directory>
    </testsuite>
    <testsuite name="ablog">
      <!-- CATEGORY -->
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Category/Controller/CreateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Category/Controller/EditControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Category/Controller/GetAllControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Category/Controller/TreeControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Category/Controller/UpdateControllerTest.php</directory>
      <!-- STATUS -->
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Status/Controller/CreateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Status/Controller/EditControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Status/Controller/GetAllControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Status/Controller/ListControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Status/Controller/UpdateControllerTest.php</directory>
      <!-- POST -->
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Post/Controller/CreateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Post/Controller/EditControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Post/Controller/UpdateControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Post/Controller/ListControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Post/Controller/UpdateStatusControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Post/Controller/WebsitePostsControllerTest.php</directory>
      <!-- DESTROY -->
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Post/Controller/DeleteControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Status/Controller/DeleteControllerTest.php</directory>
      <directory phpVersion="8.0.0" phpVersionOperator="&gt;=">tests/Blog/Category/Controller/DeleteControllerTest.php</directory>
    </testsuite>
  </testsuites>
</phpunit>
