/* Customize what is necessary */
.top {
  padding: 0.5%;
  border: #000;
  background-color: #ffffff;
}

.swal2-container {
  z-index: 10000 !important;
}


*.icon-green {
  color: #69aa46;
}

*.icon-white {
  color: white
}

*.icon-gray {
  color: gray
}

*.icon-blue {
  color: #478fca
}

*.icon-orange {
  color: orange;
}

*.icon-red {
  color: #dd5a43;
}

*.icon-success {
  color: #4CAF50;
}

table.dataTable tbody td {
  vertical-align: middle;
}

.select2-dropdown {
  z-index:10000;
}

img.portimg {
  /* display: none; */
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

img.cover {
  /* display: none; */
  min-width: 516px;
  max-height: 325px;
  margin: 0 auto;
}


.removebtn{
  width: 30%;
}

.hide {
  display: none;
}


.ck-editor__editable_inline {
  min-height: 400px;
}


.ck-content .image > figcaption {
  caption-side: top;
}

div.js-seo-preview > div#js-seo-preview__google-inner {
  max-width: 600px !important;
  line-height: 18.2px !important;
  margin-bottom: 1rem !important;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px !important;
  padding-top: 10px!important;
  padding-right: 10px!important;
  padding-bottom: 5px!important;
  padding-left: 10px!important;
}

div.js-seo-preview > div#js-seo-preview__facebook-inner {
  max-width: 526px !important;
  line-height: 16.08px !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
  color: #1d2129 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  background-color: #fff !important;
  overflow: hidden !important;
  position: relative !important;
  z-index: 0 !important;
  margin-bottom: 1rem !important;
  border-radius: 5px!important;
}